#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#btnContainer{ /*id*/
    text-align: center;
}

.buttons{   /*class*/
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(107, 107, 234);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(34, 34, 210);
    color: antiquewhite;
}